@model ITLab29.Models.ViewModels.FeedBackViewModel;
@using Microsoft.AspNetCore.Identity
@using ITLab29.Models.Domain;
@using ITLab29.Models.ViewModels;

@{
    ViewData["Title"] = "Details";
}

@{
    User user = ViewData["user"] as User;
    Session session = ViewData["session"] as Session;
    bool isAuth = User.Identity.IsAuthenticated;
}

<div class="h-25 row">
    <div class="col-md-5">
        <img class="img-fluid"
             src="https://i1.wp.com/guide-high-tech.com/wp-content/uploads/2019/04/Cloud-Computing-01.jpg?fit=1000%2C680&ssl=1"
             alt="Alternate Text" />
    </div>
    <div class="col-md-7 my-auto">
        <div class="page-header">
            <h1>
                @session.Title
            </h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-7">
        <dl>
            <dt>
                Omschrijving
            </dt>
            <dd>
                @session.Description
            </dd>
        </dl>
        <p></p>
        <div class="card">
            <h5 class="card-header">
                Toegevoegde Media
            </h5>
            <div class="card-body">
                <p class="card-text">
                    Media1
                </p>
            </div>
            <div class="card-footer">
                Media2
            </div>
        </div>
        @if (isAuth && user.IsRegistered(session.SessionId))
        {
            //nog checken of het event in het verleden ligt
            //nog checken of user al feedback gegeven heeft op dit event
            //TODO: needs more markup
            <div class="card">
                <h5 class="card-title">Plaats een comment:</h5>
                <form asp-controller="Session" asp-action="AddFeedback" method="post">
                    <div class="form-group">
                        <input type="hidden" name="id" value="@session.SessionId" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Score">Score</label>
                        <span asp-validation-for="Score" class="text-danger"></span>
                        <select class="form-control" name="Score" asp-for="Score">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description">Feedback</label>
                        <textarea asp-for="Description" class="form-control" type="text" name="Description" placeholder="Schrijf je feedback..."></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn-primary">Verzend!</button>
                </form>
            </div>
        }
        @if (session.Feedback.Any())
        {
            <h3>Comments: </h3>
            foreach (var feedback in session.Feedback)
            {
                <div class="card">
                    <h5 class="card-header">@feedback.Score / 5</h5>
                    <div class="card-body">
                        <p class="card-text">
                            @feedback.Description
                        </p>
                    </div>

                </div>
            }
        }
    </div>
    <div class="col-sm-3">
        <div class="card">
            <h5 class="card-header">
                Locatie: @session.Location.Campus @session.Location.LocationId
            </h5>
            <div class="card-body">
                <p class="card-text">
                    Tijdstip: @session.GetDateFormat() @session.GetTimeFormat()
                </p>
            </div>
            <div class="card-footer">
                Verantwoordelijke: @session.Responsible.FirstName @session.Responsible.LastName
            </div>
        </div> <span class="badge badge-default">@session.UserSessions.Count() / @session.Capacity</span>
        <div class="progress">
            <div class="progress-bar" aria-valuenow=@session.GetUsers().Count() aria-valuemin="0"
                 aria-valuemax=@session.Capacity></div>
        </div>
        @if (isAuth)
        {
            if (user.IsRegistered(session.SessionId))
            {
                <form asp-controller="Session" asp-action="Delete" asp-route-id="@session.SessionId">
                    <button type="submit" class="btn btn-danger">
                        Uitschrijven
                    </button>
                </form>
            }
            else
            {
                if (session.GetUsers().Count() < session.Capacity)
                {
                    <form asp-controller="Session" asp-action="Add" asp-route-id="@session.SessionId">
                        <button type="submit" class="btn btn-success">
                            Inschrijven
                        </button>
                    </form>
                }
                else
                {
                    <form>
                        <button type="submit" class="btn btn-warning">
                            Volzet!
                        </button>
                    </form>
                }
            }
        }


    </div>
</div>

@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
} 