@model ITLab29.Models.ViewModels.EventDetailsViewModel
<div class="card">
    <h5 class="card-header">
        <div class="row" style="font-size: 16pt;">
            <div class="col-1"><i class="material-icons">location_on</i></div>
            <div class="col">@Model.Session.Location.Campus @Model.Session.Location.LocationId</div>
        </div>
    </h5>
    <div class="card-body">
        <div class="row" style="font-size: 16pt;">
            <div class="col-1"><i class="material-icons">date_range</i></div>
            <div class="col">@Model.Session.GetDateFormat() @Model.Session.GetTimeFormat()</div>
        </div>
        <br />
        <div class="row" style="font-size: 16pt;">
            <div class="col-1"><i class="material-icons">person</i></div>
            <div class="col">@Model.Session.Responsible.FirstName @Model.Session.Responsible.LastName</div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row" style="font-size: 16pt;">
            <div class="col-1"><i class="material-icons">people</i></div>
            <div class="col"><b>@Model.Session.UserSessions.Count() / @Model.Session.Capacity plaatsen bezet</b></div>
        </div>
    </div>
</div> 