@using Microsoft.AspNetCore.Identity
@using ITLab29.Models.Domain;
@model ITLab29.Models.Domain.User;
@{
    ViewData["Title"] = "Index";
}

@{
    bool isAuth = User.Identity.IsAuthenticated;
}

@if (isAuth)
{

    <div class="row">
        <div class="col-md-4">
            <h3 class="text-center">@Model.FirstName @Model.LastName</h3>
            <img class="img-fluid" src=@ViewData["Avatar"]>
            <div class="card">
                <h5 class="card-header">Persoonlijke informatie </h5>
                <div class="card-body">
                    <p class="card-text"><b>Email:</b> @Model.Email</p>
                    <p class="card-text"><b>Aantal afwezigheden:</b> @Model.Penalties</p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <h1>Ingeschreven events:</h1>
                @foreach (Session session in ViewData["Sessions"] as IList<Session>)
                {
                    <div class="card">
                        <h6 class="card-header">
                            <a asp-controller="Session" asp-action="Details" asp-route-id=@session.SessionId>@session.Title</a>
                        </h6>
                        <p class="card-body">@session.Description</p>
                    </div>
                    <br>
                }
            </div>
        </div>
    </div>
}
else
{
    <h1>Please log in</h1>
}

